.main-form {
    background-color: #aacabb
}

.lists {
    background-color: pink;
}

.to-do-list {
    background-color: #d4d1d8;
    border: 1px solid #a29fa6;
    height: 20rem;
}

.completed-tasks {
    background-color: #d4d1d8;
    border: 1px solid #a29fa6;
    height: 20rem
}

h4 {
    text-align: center;
    background-color: white;
}
