@font-face {
    font-family: 'Muli';
    src: url('..//Muli-BoldItalic.eot');
    src: url('../fonts/Muli-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muli-BoldItalic.woff2') format('woff2'),
        url('../fonts/Muli-BoldItalic.woff') format('woff'),
        url('../fonts/Muli-BoldItalic.ttf') format('truetype'),
        url('../fonts/Muli-BoldItalic.svg#Muli-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url('../Muli-Black.eot');
    src: url('../Muli-Black.eot?#iefix') format('embedded-opentype'),
        url('../Muli-Black.woff2') format('woff2'),
        url('../Muli-Black.woff') format('woff'),
        url('../Muli-Black.ttf') format('truetype'),
        url('../Muli-Black.svg#Muli-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../Muli-SemiBold.eot');
    src: url('../Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../Muli-SemiBold.woff2') format('woff2'),
        url('../Muli-SemiBold.woff') format('woff'),
        url('../Muli-SemiBold.ttf') format('truetype'),
        url('../Muli-SemiBold.svg#Muli-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../Muli-SemiBoldItalic.eot');
    src: url('../Muli-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../Muli-SemiBoldItalic.woff2') format('woff2'),
        url('../Muli-SemiBoldItalic.woff') format('woff'),
        url('../Muli-SemiBoldItalic.ttf') format('truetype'),
        url('../Muli-SemiBoldItalic.svg#Muli-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url('../Muli-ExtraLightItalic.eot');
    src: url('../Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../Muli-ExtraLightItalic.woff2') format('woff2'),
        url('../Muli-ExtraLightItalic.woff') format('woff'),
        url('../Muli-ExtraLightItalic.ttf') format('truetype'),
        url('../Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url('../Muli-Regular.eot');
    src: url('../Muli-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Muli-Regular.woff2') format('woff2'),
        url('../Muli-Regular.woff') format('woff'),
        url('../Muli-Regular.ttf') format('truetype'),
        url('../Muli-Regular.svg#Muli-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../Muli-Italic.eot');
    src: url('../Muli-Italic.eot?#iefix') format('embedded-opentype'),
        url('../Muli-Italic.woff2') format('woff2'),
        url('../Muli-Italic.woff') format('woff'),
        url('../Muli-Italic.ttf') format('truetype'),
        url('../Muli-Italic.svg#Muli-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Muli';
    src: url('../Muli-Bold.eot');
    src: url('../Muli-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Muli-Bold.woff2') format('woff2'),
        url('../Muli-Bold.woff') format('woff'),
        url('../Muli-Bold.ttf') format('truetype'),
        url('../Muli-Bold.svg#Muli-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    color: #424147;
}

.headline {
    height: 5rem;
    border: 2px solid #a29fa6;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

h1 {
    color:#424147;
    text-shadow: 0.3rem 0.2rem 0.8rem #a29fa6;
    font-size: 4rem;
}

h4 {
    color: #424147;
    padding: 1rem;
    text-decoration: underline;
    text-align: center;
}

.main-form {
    margin-bottom: 6rem;
}

.main-form label,
.lists label,
.btn-add,
.btn-modify {
    font-family: "Muli", sans-serif;
    font-weight: 600;
}

.lists {
    margin-bottom: 6rem;
}

.to-do-list,
.completed-tasks {
    border: 2px solid #a29fa6;
    /* height: 24.5rem; */
    /* background-color: #d2d4dc; */
}

.list-element {
    text-align: center;
    padding-bottom: 1rem;
}

.list-element:nth-child(2n+1) {
    color: 	#4f5b66;
}

.element-description {
    font-family: "Muli", sans-serif;
    font-style: italic;
    font-weight: normal;
}

.input-group,
.input-group-prepend {
    padding: 0;
}

.form-control {
    border: 2px solid #a29fa6;
}

.input-group-text,
.btn-add,
.btn-modify,
.btn-options button {
    border: 2px solid #a29fa6;
    background-color: lightgrey;
    color: #424147;
}

.btn-modify {
    padding: 0.1rem 0;

}

.btn-options button {
    margin: 0 0.1rem;
    width: 5.4rem;
}
